<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration 
  PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" 
  "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <!--<typeAliases>
        <typeAlias alias="AppInfo" type="com.cabletech.rms.proxy.model.AppInfo"/>
        <typeAlias alias="ApkInfo" type="com.cabletech.rms.proxy.model.ApkInfo"/>
        <typeAlias alias="AdminUser" type="com.cabletech.rms.proxy.security.AdminUser"/>
        <typeAlias alias="SettingItem" type="com.cabletech.rms.proxy.model.SettingItem"/>
    </typeAliases>-->
    <!--<mappers>
        &lt;!&ndash; ApkInfo的DAO Mapper &ndash;&gt;
        <mapper resource="com/cabletech/rms/proxy/dao/mapper/AppInfoDaoMapper.xml" />
        <mapper resource="com/cabletech/rms/proxy/dao/mapper/ApkInfoDaoMapper.xml" />
        <mapper resource="com/cabletech/rms/proxy/dao/mapper/AdminUserDaoMapper.xml" />
        <mapper resource="com/cabletech/rms/proxy/dao/mapper/AppSettingDaoMapper.xml" />
    </mappers>-->
</configuration>